@model WebApplication5.Models.post

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    var user = (WebApplication5.Models.Duser)ViewBag.PostUser;
}

<h1 class="mb-3">@Model.title</h1>
<p>@Html.Raw(Model.content)</p>
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5" style="width:100%">
        <img src="@user.imageUser" alt="Image placeholder" class="img-fluid mb-4" style="width:80%">
    </div>
    <div class="desc">
        <h3>@user.nickname</h3>
        <p>@user.quote</p>
    </div>
</div>
<div class="pt-5 mt-5">
    <ul class="comment-list">
        <li>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=510915852836074&autoLogAppEvents=1"></script>
            <div class="fb-comments" data-href="@ViewBag.url" data-numposts="10" data-width=""></div>
        </li>
    </ul>
    <!-- END comment-list -->
</div>