@model IEnumerable<WebApplication5.Models.Category>
@{
    var db = new WebApplication5.Models.BlogEntities();
}

<div class="sidebar-box pt-md-4">
    @if (Session["User"] != null)
    {
        <a href="@Url.Action("Logout","Blog")"><button class="btn btn-danger">Sign Out</button></a>
        <a href="@Url.Action("Index","User", new { area = "Admin"})"><button class="btn btn-primary">Go to profile</button></a>
    }
    else
    {
        <a href="@Url.Action("SignIn","Blog")"><button class="btn btn-primary">Sign In</button></a>
        <a href="@Url.Action("SignUp","Blog")"><button class="btn btn-success">Sign Up</button></a>
    }
</div>

@using (Html.BeginForm("Search", "Blog", FormMethod.Post, new { @class = "search-form" }))
{
    <div class="sidebar-box pt-md-4">
        <div class="form-group">
            <span class="icon icon-search" id="search"></span>
            <input type="text" class="form-control" placeholder="Type a keyword and hit enter" name="postSearch" id="searchVal">
        </div>
    </div>
}
<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Categories</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("List","Blog", new { id = item.id})">@item.CatName<span>@db.posts.Count(x => x.categoryId.Equals(item.id)).ToString()</span></a></li>
        }
    </ul>
</div>
